.modal-content
{
    background-color: var(--form-color);
}


.modal-body {
    overflow-x: auto;
  }

  .btn-close{
    background-color: rgb(140, 140, 140);
  }

  // @media(min-width: 768px)
  // {
  //   .parametarBorder{
  //     border-left: 1px solid var(--text-color);
  //     border-right: 1px solid var(--text-color);
  //   }


  // }
  // @media(max-width: 767px)
  // {
  //    .parametarBorder{
  //     border-top: 1px solid var(--text-color);
  //     border-bottom: 1px solid var(--text-color);
  //   }


  // }


