<div class="siteContainer container mt-5 mb-5 pb-4 rounded shaded">
  <div class="d-flex justify-content-center pt-5 text-center">
    <h4 class="Titles" style="user-select: none;  font-size: 40px;"><b>{{'contact.Contact-Neuraro' | translate}}</b></h4>
  </div>
  <div class="d-flex justify-content-center pt-2 text-center" style="font-size: 18px; user-select: none;">
      <span>{{'contact.p1' | translate}}</span>
  </div>
  <div class="row mt-5 px-1">
    <div class="innerSiteContainer mb-2 col-md-4 offset-md-1 col-sm-12 d-flex justify-content-center align-items-center border rounded py-3 shadow" id="formDiv">
      <div class="col-md-11 col-sm-12 rounded">
          <!-- <form class="p-1" id="inputsFormDiv">
            <input class="form-control mb-4" type="text" placeholder="{{'contact.Name' | translate}}">
            <input class="form-control mb-4" type="text" placeholder="{{'contact.Email' | translate}}">
            <input class="form-control" type="text" placeholder="{{'contact.Message' | translate}}">
          </form> -->
          <div class="innerSiteContainerTopic p-3 mb-2">
            <span> <span style="color: var(--button-color)">Address:</span> Radoja Domanovića 12</span><br>
          </div>
          <div class="innerSiteContainerTopic p-3 mb-2">
            <span><span style="color: var(--button-color)">Phone:</span> +381 65/35-23-277</span><br>
          </div>
          <div class="innerSiteContainerTopic p-3 mb-2">
            <span><span style="color: var(--button-color)">Email:</span> neuraropmf@gmail.com</span><br>
          </div>
      </div>
    </div>
    <div class="col-md-1" style="border-right: 2px solid lightgray">

    </div>
    <div class="col-md-1">

    </div>
    <!-- <div class="ofsset-md-1 col-md-1" style="border-right: 1px solid white;"></div> -->
    <div class="innerSiteContainerTopic mb-2 col-md-4 border rounded d-flex p-3 justify-content-center align-items-center">
      <div class="col-md-11">
        <div>
          <span>
          <span style="color: var(--button-color)">Neuraro</span>{{'contact.p2' | translate}}<br><br>{{'contact.p4' | translate}}<br><br>
          {{'contact.p3' | translate}}<br><br>{{'contact.p5' | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
